/build
library/toasty/build
library/smilelibrary/build
library/reclib-testemoticons/build
library/passwordinput/build
library/camera/build
library/SwipeBackLayout/build
library/PushSDK/build
library/BaseRecyclerViewAdapterHelper/build
app/build
.idea/
library/toasty/build/
.gradle/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.svn/
app/.gitignore
datePicklibrary/build/
datePicklibrary/src/androidTest
datePicklibrary/src/test
niceSpinner/build/
app/debug/
app/debug1.keystore
app/proguard-rules.pro
debug.keystore
debug1.keystore
gradle/
gradlew
gradlew.bat
jurong.iml
library/BaseRecyclerViewAdapterHelper/BaseRecyclerViewAdapterHelper.iml
library/FlycoTabLayout_Lib/.gitignore
library/FlycoTabLayout_Lib/FlycoTabLayout_Lib.iml
library/FlycoTabLayout_Lib/proguard-rules.pro
library/GestureLock-master/.gitignore
library/GestureLock-master/GestureLock-master.iml
library/GestureLock-master/proguard-rules.pro
library/PushSDK/PushSDK.iml
library/SwipeBackLayout/SwipeBackLayout.iml
library/banner/.gitignore
library/banner/README.md
library/banner/banner.iml
library/banner/proguard-rules.pro
library/camera/camera.iml
library/camera/proguard-rules.pro
library/common/.gitignore
library/jcvideoplayer/.gitignore
library/jcvideoplayer/jcvideoplayer.iml
library/jcvideoplayer/proguard-rules.pro
library/libSnackbar/.gitignore
library/libSnackbar/libSnackbar.iml
library/libSnackbar/proguard-rules.pro
library/library.iml
library/passwordinput/passwordinput.iml
library/passwordinput/proguard-rules.pro
library/photoPicker/.gitignore
library/photoPicker/photoPicker.iml
library/photoPicker/proguard-rules.pro
library/photoPicker/readme.md
library/reclib-testemoticons/assets/
library/reclib-testemoticons/reclib-testemoticons.iml
library/recovery/.gitignore
library/recovery/mix
library/recovery/proguard-rules.pro
library/recovery/recovery.iml
library/selectordialog/.gitignore
library/selectordialog/README.md
library/selectordialog/proguar
library/selectordialog/selectordialog.iml
library/smilelibrary/smilelibrary.iml
library/toasty/toasty.iml
library/zxingScan/.gitignore
local.properties
/.gradle/
library/NumberPicklibrary/build/
library/NumberPicklibrary/build/generated/res/
library/NumberPicklibrary/build/generated/source/aidl/
library/NumberPicklibrary/build/generated/source/rs/
library/NumberPicklibrary/build/intermediates/check-manifest/
library/NumberPicklibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library/NumberPicklibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
library/NumberPicklibrary/build/intermediates/incremental/packageDebugResources/stripped.dir/
library/NumberPicklibrary/build/intermediates/rs/
library/NumberPicklibrary/build/intermediates/tmp/
library/NumberPicklibrary/build/intermediates/incremental/processDebugAndroidTestResources/
library/NumberPicklibrary/build/intermediates/incremental/processDebugResources/
library/FlycoTabLayout_Lib/build/
library/GestureLock-master/build/
library/banner/build/
library/common/build/
library/common/common.iml
library/jcvideoplayer/build/
library/libSnackbar/build/
library/photoPicker/build/
library/recovery/build/
library/selectordialog/build/
niceSpinner/build/generated/assets/
niceSpinner/build/generated/res/
niceSpinner/build/generated/source/aidl/
niceSpinner/build/generated/source/apt/
niceSpinner/build/generated/source/rs/
niceSpinner/build/intermediates/bundles/debug/aidl/
niceSpinner/build/intermediates/bundles/debug/assets/
niceSpinner/build/intermediates/check-manifest/
niceSpinner/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
niceSpinner/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
niceSpinner/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
niceSpinner/build/intermediates/incremental/packageDebugResources/stripped.dir/
niceSpinner/build/intermediates/incremental/processDebugAndroidTestResources/
niceSpinner/build/intermediates/incremental/processDebugResources/
niceSpinner/build/intermediates/intermediate-jars/debug/jni/
niceSpinner/build/intermediates/jniLibs/
niceSpinner/build/intermediates/rs/
niceSpinner/build/intermediates/shaders/
niceSpinner/build/intermediates/tmp/
niceSpinner/build/tmp/
